@model Page

<div class="section__cards" role="presentation">
    <div class="cards__card">
        <h3 class="card__heading">Contents of "@Model.Name" are not yet available :/</h3>
        <img src = "./img/PlantDoodle.svg" alt="Companion Doodle"/>
        <p class="card__body">
            Lets give the seedling room to breathe... Please check again later! 
        </p>
    </div> 
</div>
