@{
    ViewData["Title"] = "Roadmap";
    int i = 0;
}

@foreach (var sectionName in @Model.SectionNames)
{
    @if(i == 0){
        <div class="section" data-key=@sectionName>Hello From Roadmap @sectionName page</div>
    }
    else {
        <div class="section section--hidden" data-key=@sectionName>Hello from Roadmap @sectionName page</div>
    }
    i++;
}
