$scrollbar: ( moz-thin: thin, webkit-thin: 0.5rem, background-colour: #1e1e24, colour: #9a978a );

/*$neumorphDegree: ( bottom-right-lightsource: 315deg, upper-left-lightsource: 145deg );

$global-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$global-font-colour: #555;
*/

$desktopBreakpoint: 1480px;
$tabletBreakpoint: 1280px;
$mobileBreakpoint: 800px;
$lowEndBreakpoint: 485px;

$headerHeight: 80%;
$footerHeight: 6.5%;
