$scrollbar: ( moz-thin: thin, webkit-thin: 0.5rem, background-colour: #1e1e24, colour: #9a978a );

$desktopLargeWidthBreakpoint: 2000px;
$tabletWidthBreakpoint: 800px;
$tabletSmallWidthBreakpoint: 412px;

$desktopWidthBreakpoint: 1475px;
$mobileWidthBreakpoint: 800px;
$lowEndWidthBreakpoint: 650px;
/*
$tabletSmallHeightBreakpoint: 1080px;
$tabletMediumHeightBreakpoint: 915px;
$tabletLargeHeightBreakpoint: 1280px;*/

$desktopHeightBreakpoint: 1200px;
$desktopLargeHeightBreakpoint: 1200px;
$mobileHeightBreakpoint: 760px;

$headerHeight: 80%;
$footerHeight: 6.5%;
