/*!********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./css/site.scss ***!
  \********************************************************************************************************/
/*$neumorphDegree: ( bottom-right-lightsource: 315deg, upper-left-lightsource: 145deg );

$global-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$global-font-colour: #555;
*/
/*@mixin heroSectionBackgroundImageRules {
    // hero minus navbar
    height: 92vh;
    // background is "background"
    z-index: -1;
    // centered cover photo without repeat in a fixed position
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@mixin heroSectionForegroundImageRules {
    position: relative;
    display: block;
    max-width: 25em;
    min-width: 15em;
    margin: auto;
    z-index: 0;
    border-radius: 100%;
}

@mixin centreSpacedFlexContainerRules($display: flex) {
    display: $display;*/
/* align items in the center items along the cross axis (the exact axis depends on which one is the main axis and that is determined by flex-direction) */
/*align-items: center;*/
/* align items according to the space around them along the main axis (determined by flex-direction) */
/* get each item contained inside to be pushed to the center */
/*justify-content: space-around;
}*/
/*@mixin darkBackgroundRules {
    background-color: #474e5d;

    * {
        color: #ffffff;
    }
}

@mixin lightBackgroundRules {
    background-color: #ffffff;

    a {
        text-decoration: none;
    }
}

@mixin zoomEffectRules() {
    transition: transform .2s;

    &:hover {
        transform: scale(1.15);
    }
}

@mixin lightTextRules {
    color: rgb(216, 216, 216);
}

@mixin darkOverlayRules {
    background-color: rgba(0, 0, 0, 0.75);
}

@mixin darkTextRules {
    color: #020202;
}

@mixin lightOverlayRules {
    background-color: rgba(240, 240, 240, 0.96);

    * {
        color: #020202
    }
}*/
/*@function neumorphDegree($propName) {
    @return map-get(v.$neumorphDegree, $propName);
}
*/
/*@mixin desktopMediaQuery {
    @media only screen and (max-width: 1480px) {
        @content
    }
}

;

@mixin tabletMediaQuery {
    @media only screen and (max-width: 1280px) {
        @content
    }
}

;

@mixin mobileMediaQuery {
    @media only screen and (max-width: 800px) {
        @content
    }
}

;

@mixin lowEndMediaQuery {
    @media only screen and (max-width: 485px) {
        @content
    }
}

;*/
html {
  position: relative;
  height: 100vh;
  scroll-behavior: smooth;
}

/* styles pertaing to accessibility and cross browser design */
/* no BEM for these */
/* clear browser defaults for empty space around the content */
body {
  margin: 0;
  height: inherit;
}

/* clear browser defaults for empty space around the section separator */
hr {
  all: unset;
  margin: 0;
  max-width: 100%;
}

/* clear browser defaults, set height to be inherited from parent by default */
nav {
  margin: 0;
  height: inherit;
}
nav a {
  text-decoration: none;
}

menu {
  all: unset;
  height: inherit;
}

ul, ol {
  margin: 0;
  list-style: none;
}
ul button, ol button {
  all: unset;
}
ul a, ol a {
  all: unset;
  text-decoration: none;
}

/* Disable default Definition List styles applied by the browsers so each inner element could be styled properly later on */
dl, dl h3, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
}

/* for including descriptive tags and having them not interfere with visual design. this gives readability to the markup as well as the code generating it
   improving maintainability */
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: none;
}

/*  according to accessibility best practices, all elements which may hold focus need to have an outline border of at least 2px when focused
    the colour can change given that it has enough contrast with its background. */
*:focus {
  outline: solid 2px;
}

/* for having the same font size in all browsers, its better to set font-size to 100% globally and then use em units to define font size per element 
   rather than pixels. This also allows resizing the font in the browser specific menus for people who may need to configure bigger font sizes without
   zooming in the page, adding a plus to accessibility */
* {
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.55em;
}

h4 {
  font-size: 1.05em;
}

p {
  font-size: 1.05em;
}

/* all these tags should have the same font and same style of text globally unless a rule is specified again later on*/
h1, h2, h3, h4,
p, a, fieldset {
  /*font-family: a.$global-fonts;*/
  /*color: a.$global-font-colour;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* pimp my scrollbar on chrome */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #9a978a;
}

/* pimp my scrollbar on firefox */
* {
  scrollbar-color: #9a978a #1e1e24;
  scrollbar-width: thin;
}

dd {
  all: unset;
}

/*# sourceMappingURL=siteStyle.css.map*/