@using AutoMapper
@using Microsoft.AspNetCore.Html
@using System.Web

@model PageTab
@{var i = 0;}

@foreach (Section pageSection in Model.Sections) {
    <div class="section__content" id=@pageSection.Id>
        <div class="content__container" role="presentation">
           @if(i == 0){
                <h2 class="content__header">@pageSection.Header</h2>
           } else {
                <h3 class="content__header">@pageSection.Header</h3>
           }
           
           @foreach(Detail detail in pageSection.Details){
               switch (detail.Type){
                    case ContentType.Paragraph:
                        await Html.RenderPartialAsync("../Shared/_Paragraph.cshtml", @detail);
                        break;
                    
                    case ContentType.Warning:
                        await Html.RenderPartialAsync("../Shared/_Warning.cshtml", @detail);
                        break;
                    
                    case ContentType.Code:
                        await Html.RenderPartialAsync("../Shared/_Code.cshtml", @detail);
                        break;
                    
                    case ContentType.Picture:
                        await Html.RenderPartialAsync("../Shared/_Picture.cshtml", @detail);
                        break;
                }
           }
        </div>
    </div>
    i++;
}